{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src/"
        ],
        "alias": {
          "@assets": "./src/assets",
          "@screen": "./src/screen",
          "@component": "./src/component"
        }
      }
    ]
  ]
}